@charset "UTF-8";

/* crosscomm-corebt */
@font-face {
  font-family: "crosscomm-corebt";
  src:url("https://file.myfontastic.com/vHbKkHHKiNjJtFb729AmUi/fonts/1447147553.eot");
  src:url("https://file.myfontastic.com/vHbKkHHKiNjJtFb729AmUi/fonts/1447147553.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/vHbKkHHKiNjJtFb729AmUi/fonts/1447147553.woff") format("woff"),
    url("https://file.myfontastic.com/vHbKkHHKiNjJtFb729AmUi/fonts/1447147553.ttf") format("truetype"),
    url("https://file.myfontastic.com/vHbKkHHKiNjJtFb729AmUi/fonts/1447147553.svg#1447147553") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "crosscomm-corebt" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fontastic-"]:before,
[class*=" fontastic-"]:before {
  font-family: "crosscomm-corebt" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fontastic-mobile-menu:before {
  content: "m";
}
.fontastic-document:before {
  content: "f";
}
.fontastic-file-text:before {
  content: "F";
}
.fontastic-wallet:before {
  content: "w";
}
.fontastic-print:before {
  content: "p";
}
.fontastic-angle-right:before {
  content: "N";
}
.fontastic-angle-left:before {
  content: "L";
}
.fontastic-tag:before {
  content: "t";
}
.fontastic-lock:before {
  content: "l";
}
.fontastic-check-mark-2:before {
  content: "c";
}
.fontastic-angle-up:before {
  content: "a";
}
.fontastic-remove:before {
  content: "r";
}
.fontastic-search-find:before {
  content: "s";
}
.fontastic-cloud-upload:before {
  content: "b";
}
