/*@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");*/
a {
    color: #08c;
    text-decoration: none;
	font-weight: bold;
}
a:link {
    color: #1771b7;
    outline: 0;
}
a:visited {
    text-decoration: none;
    outline: 0;
    color: #1771b7;
}
a, a:link, a:visited {
    color: #00539A;
}

@media only screen and (min-width: 768px) {
	#inner-wrap,#outer-wrap{position:static;}
	.main{padding-bottom:155px;}
	footer{position:relative; /* bottom:71px !important; */ left:0; width:100%;}
}
.container {
    max-width: 940px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#vote {
    border-top: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}

a, a:link, a:visited {
    color: #00539A;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}
#vote a {
    display: inline-block;
    padding: 10px 0;
    padding: .6em 0;
    text-align: center;
    box-sizing: border-box;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0%, #e5e5e5 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #e5e5e5 100%);
    background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e5e5e5',GradientType=0 );
}
#vote a:hover {
    font-weight: normal;
}
#vote a:first-child {
    border-bottom-left-radius: 5px;
    border-right: 1px solid #ccc;
    width: 55%;
    text-indent: 20px;
	font-weight:normal;
}
#vote a:first-child:after {
    position: absolute;
    font-family: 'FontAwesome';
    top: .7em;
    left: -.4em;
    content: "\f14a";
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
}
#vote a:last-child {
    border-bottom-right-radius: 5px;
    width: 45%;
    background: #fff;
    background: url(../img/airplane.png) 9px 10px no-repeat, -moz-linear-gradient(top, #fff 0%, #e5e5e5 100%);
    background: url(../img/airplane.png) 9px 10px no-repeat, -webkit-linear-gradient(top, #fff 0%, #e5e5e5 100%);
    background: url(../img/airplane.png) 9px 10px no-repeat, -ms-linear-gradient(top, #fff 0%, #e5e5e5 100%);
    background: url(../img/airplane.png) 9px 10px no-repeat, linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e5e5e5',GradientType=0 );
    text-indent: 13px;
	font-weight:normal;
}
.container:after, .container:before {
    display: table;
    line-height: 0;
    content: "";
}
.span9 {
    width: 74.46809%;
    float: left;
    margin-right: 2.12766%;
    display: inline;
}
footer .footer-links {
    width: 76%;
    margin-right: 0;
}
.span3 {
    width: 23.40426%;
    float: left;
    margin-right: 2.12766%;
    display: inline;
}
footer .span3 {
    width: 220px;
    margin-top: 10px;
}
.span3:last-child {
    float: right;
    margin-right: 0;
}
@media only screen and (min-width: 486px){
  footer .span3:last-child {
    position: absolute;
    right: 20px;
    margin-top: 8px;
  }
}
.container:after {
    clear: both;
}
footer .footer-links a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: 700;
    float: left;
    margin-right: 2.12766%;
    padding: 5px 0;
}
@media only screen and (min-width: 960px){
  footer .footer-links a {
    width: 30%;
  }
  .footer-links {
    width: 76% !important;
  }
}
@media only screen and (max-width: 959px) and (min-width: 768px){
  footer .footer-links {
    width: 67% !important;
  }
  footer .footer-links a {
    width: 45%;
  }
  footer.footer{
	  height: 28% !important;
  }
}
@media (max-width: 1025px) {
  footer.footer{
	  height:500px !important;
  }
}
@media (max-width: 767px) {
	footer .footer-links {
    width: 31% !important;
  }
  footer.footer{
	  height:250px !important;
  }
}
@media (max-width: 765px) {
  footer.footer{
	  height:300px !important;
  }
}
@media (max-width: 450px) {
  footer.footer{
	  height:450px !important;
  }
}
@media (max-width: 450px) {
  footer.footer{
	  height:450px !important;
  }
}
@media (max-width: 376px) {
  footer.footer{
	  height:600px !important;
  }
}
footer .logo-nyc {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 93px;
    height: 31px;
    display: block;
    background-image: url(../img/nyc_white.png);
    background-size: 93px 31px;
    float: left;
    margin-right: 10px;
    color: #fff;
}
form {
    margin: 20px 0 20px 0;
}
footer .form-search {
    margin-top: 0;
    margin-bottom: 10px;
}
footer .copyright {
    color: #fff;
    font-size: 10px;
}
footer .form-search .input-search {
    width: 79px;
    height: 23px !important;
    padding: 4px 6px;
    outline: 0;
    font-size: 14px;
    border-radius: 4px 0 0 4px;
    float: left;
    border-left: 2px solid #727272;
    border-top: 2px solid #727272;
    border-right: none;
    border-bottom: 2px solid #727272;
    color: #fff;
    background-color: #616161;
}

footer .form-search .ico-search {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(sprite-ico-search.png) no-repeat #616161 left -8px;
    padding: 0;
    display: block;
    width: 24px;
    height: 32px;
    border-radius: 0 4px 4px 0;
    border-right: 2px solid #727272;
    border-top: 2px solid #727272;
    border-bottom: 2px solid #727272;
    border-left: none;
    cursor: pointer;
    color: #fff;
}
footer .copyright p {
    margin: 0;
    line-height: 14px;
    float: left;
}
footer .copyright a {
    color: #fff;
}