html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 120px; /* .push must be the same height as .footer */
}

.nyc-banner-container {
    min-height: 47px;
}

@media (max-width: 767px),screen and (max-device-width:767px) {
    .nyc-banner-container {
        padding:8px 0;
		height: 64px !important;
    }
	.nyc-banner-container img{
		height: 58px !important;
		width:120px !important;
    }
	button.ico-search{
		margin-top:0px !important;
	}
}